<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?include mySampleVersionInfo.wxi ?>

  <!-- Id="*" to allow reinstalling and automatically removing previous version-->
  <Product Id="*" Name="$(var.PRODUCT_NAME)" Language="1033" Codepage='1252' Version="$(var.PRODUCTVERSION)" Manufacturer="$(var.COMPANY_NAME)" UpgradeCode="$(var.PRODUCTGUID)">

    <Package Comments="$(var.PRODUCT_NAME) $(var.ProcessorArchitecture) $(var.PRODUCTVERSION)" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Languages='1033' SummaryCodepage='1252' Platform="$(var.ProcessorArchitecture)" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.PRODUCT_NAME) is already installed." AllowSameVersionUpgrades="yes" />
    <Media Id="1" Cabinet="$(var.PRODUCT_NAME)_$(var.ProcessorArchitecture).cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="$(var.PRODUCT_NAME)" Level="1" Description="$(var.PRODUCT_NAME) $(var.ProcessorArchitecture)" ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentGroupRef Id="_ComponentGpID_MySample" />
    </Feature>

    <Property Id="TARGETDIR" Secure="yes" />
    <Property Id="INSTALLFOLDER" Secure="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.ProcessorArchitecture) = x86 ?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.COMPANY_NAME)">
          <Directory Id="INSTALLFOLDER" Name="$(var.PRODUCT_NAME)">
          </Directory>
        </Directory>
      </Directory>
      <?elseif $(var.ProcessorArchitecture) = x64 ?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ManufacturerFolder" Name="$(var.COMPANY_NAME)">
          <Directory Id="INSTALLFOLDER" Name="$(var.PRODUCT_NAME)">
          </Directory>
        </Directory>
      </Directory>
      <?endif?>
    </Directory>

    <!-- UI information-->
    <Property Id="ARPPRODUCTICON" Value="_FileID_Icon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_ARPNOMODIFY" Value="yes" Secure="yes" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- WixUILicenseRtf: License file. -->
    <WixVariable Id="WixUILicenseRtf" Value="Resources\product_License.rtf" />
    <!-- WixUIBannerBmp: 493 by 58 pixels, this bitmap will appear at the top of all but the first page of the installer. -->
    <WixVariable Id="WixUIBannerBmp" Value="Resources\companySetupBanner.bmp" />
    <!-- WixUIDialogBmp: 493 by 312 pixels, this bitmap will appear on the first page of the installer. -->
    <WixVariable Id="WixUIDialogBmp" Value="Resources\companySetupDialog.bmp" />
    <Icon Id="_FileID_Icon.ico" SourceFile="Resources\company.ico"/>

    <!--
      WS058503: Note about Secure=yes. If installed with UAC enabled, the uninstall process failed to remove files due to not allowed properties.
      Secure=yes must be used to fixed the issue as describe here: http://www.installsite.org/pages/en/msi/articles/VistaMSI/
    -->


    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This setup requires the .NET Framework 4.0 to be installed.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    
    <!-- Detect if at least one office excel has been found, to this aim use installation PATH -->
    <!--EXCELSUPPORTEDVERSION-->
       <Property Id="EXCEL2007INSTALLPATH" Secure="yes">
      <?if $(var.ProcessorArchitecture) = x64 ?>
      <RegistrySearch Id="OfficeExcel2007InstallPath64" Root="HKLM" Key="SOFTWARE\Microsoft\Office\12.0\Excel\InstallRoot" Name="Path" Type="raw" Win64="yes" />
      <?endif?>
      <RegistrySearch Id="OfficeExcel2007InstallPath32" Root="HKLM" Key="SOFTWARE\Microsoft\Office\12.0\Excel\InstallRoot" Name="Path" Type="raw" Win64="no" />
    </Property>
    <Property Id="EXCEL2010INSTALLPATH" Secure="yes">
      <?if $(var.ProcessorArchitecture) = x64 ?>
      <RegistrySearch Id="OfficeExcel2010InstallPath64" Root="HKLM" Key="SOFTWARE\Microsoft\Office\14.0\Excel\InstallRoot" Name="Path" Type="raw" Win64="yes" />
      <?endif?>
      <RegistrySearch Id="OfficeExcel2010InstallPath32" Root="HKLM" Key="SOFTWARE\Microsoft\Office\14.0\Excel\InstallRoot" Name="Path" Type="raw" Win64="no" />
    </Property>
    <Property Id="EXCEL2013INSTALLPATH" Secure="yes">
      <?if $(var.ProcessorArchitecture) = x64 ?>
      <RegistrySearch Id="OfficeExcel2013InstallPath64" Root="HKLM" Key="SOFTWARE\Microsoft\Office\15.0\Excel\InstallRoot" Name="Path" Type="raw" Win64="yes" />
      <?endif?>
      <RegistrySearch Id="OfficeExcel2013InstallPath32" Root="HKLM" Key="SOFTWARE\Microsoft\Office\15.0\Excel\InstallRoot" Name="Path" Type="raw" Win64="no" />
    </Property>
    
    <?if $(var.ProcessorArchitecture) = x86 ?>
    <?define OfficeExcelNotFoundMessage=This setup requires Office Excel 2007, 2010 and/or 2013 (32-bit). ?>
    <?elseif $(var.ProcessorArchitecture) = x64 ?>
    <?define OfficeExcelNotFoundMessage=This setup requires Office Excel 2007, 2010 and/or 2013 (32-bit or 64-bit). ?>
    <?endif?>
    <Condition Message="$(var.OfficeExcelNotFoundMessage)">
      <![CDATA[Installed OR EXCEL2007INSTALLPATH OR EXCEL2010INSTALLPATH OR EXCEL2013INSTALLPATH]]>
    </Condition>

    <!--command arguments to pass to .exe-->
    <Property Id="CREATE_HKCU_OPEN_CMD" Value="/install $(var.XLL32) $(var.XLL64) $(var.OFFICEREGKEYS)" />
    <Property Id="REMOVE_HKCU_OPEN_CMD" Value="/uninstall $(var.XLL32) $(var.XLL64) $(var.OFFICEREGKEYS)" />
    
    <!-- Custom Actions -->
    <Binary Id="_BinID_CustomAction" SourceFile="$(var.CADLLFULLPATH)" />
    
    <!--This two custom actions (call a the .exe) are responsible for set/remove the HKCU key for the current user.-->
    <CustomAction Id="Action_SetOPENHKCU_Cmd" Property="Action_SetOPENHKCU"  Execute="immediate" Value='"[INSTALLFOLDER]$(var.manageOpenKeyExeName)" [CREATE_HKCU_OPEN_CMD]' />
    <CustomAction Id="Action_SetOPENHKCU" Return="check" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred"/>

    <CustomAction Id="Action_RemoveOPENHKCU_Cmd" Property="Action_RemoveOPENHKCU"  Execute="immediate" Value='"[INSTALLFOLDER]$(var.manageOpenKeyExeName)" [REMOVE_HKCU_OPEN_CMD]'/>
    <CustomAction Id="Action_RemoveOPENHKCU" Return="check" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" />
  
    
    <!--This custom action (in C#) is used to set up the ActiveSetup HKLM key for install that uses the CREATE_HKCU_OPEN_CMD-->
    <CustomAction Id="Action_ActiveSetup_SetOpenHKCU.SetProperty" Return="check" Property="Action_ActiveSetup_SetOpenHKCU" Value='CREATE_HKCU_OPEN_FULL="[INSTALLFOLDER]$(var.manageOpenKeyExeName)" [CREATE_HKCU_OPEN_CMD];REMOVE_HKCU_OPEN_FULL="[INSTALLFOLDER]$(var.manageOpenKeyExeName)" [REMOVE_HKCU_OPEN_CMD];ACTIVESETUP_CREATE_GUID=$(var.ACTIVESETUP_CREATE_GUID);ACTIVESETUP_REMOVE_GUID=$(var.ACTIVESETUP_REMOVE_GUID);VERSION=$(var.PRODUCTVERSION);PRODUCTNAME=$(var.PRODUCT_NAME)' />
    <CustomAction Id="Action_ActiveSetup_SetOpenHKCU" BinaryKey="_BinID_CustomAction" DllEntry="CaActiveSetup_SetOpenHKCU" Return="check" Execute="commit" />
    
    <!--This custom action (in C#) is used to set up the ActiveSetup HKLM key for uninstall that uses the REMOVE_HKCU_OPEN_CMD-->
    <CustomAction Id="Action_ActiveSetup_RemoveOpenHKCU.SetProperty" Return="check" Property="Action_ActiveSetup_RemoveOpenHKCU" Value='CREATE_HKCU_OPEN_FULL="[INSTALLFOLDER]$(var.manageOpenKeyExeName)" [CREATE_HKCU_OPEN_CMD];REMOVE_HKCU_OPEN_FULL="[INSTALLFOLDER]$(var.manageOpenKeyExeName)" [REMOVE_HKCU_OPEN_CMD];ACTIVESETUP_CREATE_GUID=$(var.ACTIVESETUP_CREATE_GUID);ACTIVESETUP_REMOVE_GUID=$(var.ACTIVESETUP_REMOVE_GUID);VERSION=$(var.PRODUCTVERSION);PRODUCTNAME=$(var.PRODUCT_NAME)' />
    <CustomAction Id="Action_ActiveSetup_RemoveOpenHKCU" BinaryKey="_BinID_CustomAction" DllEntry="CaActiveSetup_RemoveOpenHKCU" Return="check" Execute="commit" />
    
     <!--Install Sequence--> 
    <InstallExecuteSequence>
      <!--INSTALL (+ Repair and Upgrade)-->
      <Custom Action="Action_SetOPENHKCU_Cmd" Before="Action_SetOPENHKCU">NOT Installed OR UPGRADINGCODE</Custom>
      <Custom Action="Action_SetOPENHKCU" Before="InstallFinalize">NOT Installed OR UPGRADINGCODE</Custom>
      
      <Custom Action="Action_ActiveSetup_SetOpenHKCU.SetProperty" Before="Action_ActiveSetup_SetOpenHKCU">NOT Installed OR UPGRADINGCODE</Custom>
      <Custom Action="Action_ActiveSetup_SetOpenHKCU" Before="InstallFinalize">NOT Installed OR UPGRADINGCODE</Custom>

      <!--UNINSTALL-->
      <Custom Action="Action_RemoveOPENHKCU_Cmd" Before="Action_RemoveOPENHKCU">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_RemoveOPENHKCU" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_ActiveSetup_RemoveOpenHKCU.SetProperty" Before="Action_ActiveSetup_RemoveOpenHKCU">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_ActiveSetup_RemoveOpenHKCU" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
    <AdminExecuteSequence>
      <!--INSTALL (+ Repair and Upgrade)-->
      <Custom Action="Action_SetOPENHKCU_Cmd" Before="Action_SetOPENHKCU">NOT Installed OR UPGRADINGCODE</Custom>
      <Custom Action="Action_SetOPENHKCU" Before="InstallFinalize">NOT Installed OR UPGRADINGCODE</Custom>

      <Custom Action="Action_ActiveSetup_SetOpenHKCU.SetProperty" Before="Action_ActiveSetup_SetOpenHKCU">NOT Installed OR UPGRADINGCODE</Custom>
      <Custom Action="Action_ActiveSetup_SetOpenHKCU" Before="InstallFinalize">NOT Installed OR UPGRADINGCODE</Custom>

      <!--UNINSTALL-->
      <Custom Action="Action_RemoveOPENHKCU_Cmd" Before="Action_RemoveOPENHKCU">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_RemoveOPENHKCU" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_ActiveSetup_RemoveOpenHKCU.SetProperty" Before="Action_ActiveSetup_RemoveOpenHKCU">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="Action_ActiveSetup_RemoveOpenHKCU" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </AdminExecuteSequence>

    <!-- Create our keys in the Registry -->
    <ComponentGroup Id="_ComponentGpID_MySample" >
      <!-- Files to copy in Program Files-->
      <Component Id="_CmpId_ProgramFiles" Directory="INSTALLFOLDER" Guid="$(var.COMPONENTGROUP_PRGMFILES_GUID)">
        <File Id="_FileId_Addin32" Source="$(var.XLLFULLPATH32)" />
        <?if $(var.ProcessorArchitecture) = x64 ?>
        <File Id="_FileId_Addin64" Source="$(var.XLLFULLPATH64)" />
        <?endif?>
        
        <RegistryKey Root='HKLM' Key='Software\[Manufacturer]\[ProductName]' >
          <RegistryValue Action='write' Name='InstallPath' Type='string' Value='[INSTALLFOLDER]' />
          <RegistryValue Action='write' Name='ProductVersion' Type='string' Value='[ProductVersion]' />
          <RegistryValue Action='write' Name='ProductName' Type='string' Value='[ProductName]' />
        </RegistryKey>
      </Component>

      <!--Component for the active setup-->
      <!--this permanent because we need to keep that after install-->
      <Component  Id="_CmpId_ActiveSetup" Directory="INSTALLFOLDER"  Guid="$(var.COMPONENTGROUP_ACTIVESETUP_GUID)" Permanent="yes">
        <!--remove previous .exe and README.txt if found, does not fail if not present...-->
        <RemoveFile Id="_FileId_manageOpenKeyExe_Remove" On ="install" Name="$(var.manageOpenKeyExeName)"/>
        <RemoveFile Id="_FileId_manageOpenKeyREADME_Remove" On ="install" Name="$(var.manageOpenKeyREADMEName)"/>
      
        <File Id="_FileId_manageOpenKeyExe" Source="$(var.manageOpenKeyDir)$(var.manageOpenKeyExeName)" />
      <File Id="_FileId_manageOpenKeyREADME" Source="$(var.manageOpenKeyDir)$(var.manageOpenKeyREADMEName)" />
      </Component>
    </ComponentGroup>
  </Product>
</Wix>